<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imooly.android"
    android:versionCode="1"
    android:versionName="Mooly_v1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- 拨打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name="com.imooly.android.MoLiApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name="com.imooly.android.ui.NavigationActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.zbar.lib.CaptureActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.imooly.android.ui.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" >
        </activity>
        <activity
            android:name="com.imooly.android.ui.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" >
        </activity>
        <activity
            android:name="com.imooly.android.ui.RegisterConfirmActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" >
        </activity>
        <activity
            android:name="com.imooly.android.ui.FindPwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" >
        </activity>
        <activity
            android:name="com.imooly.android.test.UserLocationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" >
        </activity>
        <activity
            android:name="com.imooly.android.ui.ChangePwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" >
        </activity>
        <activity
            android:name="com.imooly.android.ui.AgreementActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.imooly.android.ui.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >

        </activity>
        <activity
            android:name="com.imooly.android.ui.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" >
        </activity>
        <activity
            android:name="com.imooly.android.ui.SearchResultActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.imooly.android.ui.WebViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.imooly.android.ui.StoreAllCategoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.imooly.android.ui.LogoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
                        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 商品详情 -->
        <activity
            android:name="com.imooly.android.ui.ProductDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 代金券使用细则 -->
        <activity
            android:name="com.imooly.android.ui.VoucherDetailedActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- 图文详情 -->
        <activity
            android:name="com.imooly.android.ui.ProductContentDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 评价 -->
        <activity
            android:name="com.imooly.android.ui.ProductCommentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 填写订单 -->
        <activity
            android:name="com.imooly.android.ui.FillOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- 订单页面 -->
        <activity
            android:name="com.imooly.android.ui.OrderActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 订单详情 -->
        <activity
            android:name="com.imooly.android.ui.OrderDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 订单物流 -->
        <activity
            android:name="com.imooly.android.ui.OrderLogisticsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 订单评价 -->
        <activity
            android:name="com.imooly.android.ui.OrderCommentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 订单售后申请 -->
        <activity
            android:name="com.imooly.android.ui.OrderServiceActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 售后详情 -->
        <activity
            android:name="com.imooly.android.ui.OrderServiceDetail"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 订单售后 - 换货物流 -->
        <activity
            android:name="com.imooly.android.ui.OrderServiceBacktrackActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <!-- 账户与安全 -->
        <activity
            android:name="com.imooly.android.ui.AccountSafeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 服务 -->
        <activity
            android:name="com.imooly.android.ui.ServiceActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 商城 - 用户评价 -->
        <activity
            android:name="com.imooly.android.ui.StoreCommentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <!-- 售后服务状态 -->
        <activity
            android:name="com.imooly.android.ui.OrderServiceStatusActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <!-- 商城 - 填写订单 -->
        <activity
            android:name="com.imooly.android.ui.StoreFillOrderActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- 实体店搜索 -->
        <activity
            android:name="com.imooly.android.ui.StoreSearchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <!-- 实体店商家详情 -->
        <activity
            android:name="com.imooly.android.ui.StoreDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- 实体店搜索结果 -->
        <activity
            android:name="com.imooly.android.ui.StoreSearchResultActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- 实体店分类 -->
        <activity
            android:name="com.imooly.android.ui.StoreCategoryActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.imooly.android.ui.CollectionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.imooly.android.ui.SearchMapActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.imooly.android.ui.SearchPickActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.imooly.android.ui.SearchRoutePlanActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 个人中心- 设置 -->
        <activity
            android:name="com.imooly.android.ui.SettingsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 旗舰店分类 -->
        <activity
            android:name="com.imooly.android.ui.CollectionFlagshipActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 商品分类 -->
        <activity
            android:name="com.imooly.android.ui.CollectionGoodActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 旗舰店 -->
        <activity
            android:name="com.imooly.android.ui.StoreProActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 实体店分类 -->
        <activity
            android:name="com.imooly.android.ui.CollectionStoreActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.imooly.android.ui.StoreCityChangeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 收货地址 -->
        <activity
            android:name="com.imooly.android.ui.AddressActivity"
            android:hardwareAccelerated="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 个人详情 -->
        <activity
            android:name="com.imooly.android.ui.PersonalInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 个人中心 - 我的足迹 -->
        <activity
            android:name="com.imooly.android.ui.FootStepActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 个人中心 - 我的消息 -->
        <activity
            android:name="com.imooly.android.ui.MyMessageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 个人中心 - 地址修改 -->
        <activity
            android:name="com.imooly.android.ui.AddressModifyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- 个人中心 - 我的消息详情 -->
        <activity
            android:name="com.imooly.android.ui.MyMessageDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 个人中心 - 售后服务 -->
        <activity
            android:name="com.imooly.android.ui.AfterSaleActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 个人中心 - 关于我们 -->
        <activity
            android:name="com.imooly.android.ui.AboutUsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 个人中心 - 代金券 -->
        <activity
            android:name="com.imooly.android.ui.VoucherActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 个人中心 - 会员中心 -->
        <activity
            android:name="com.imooly.android.ui.MemberCenterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 个人中心 - 会员充值、缴费 -->
        <activity
            android:name="com.imooly.android.ui.MemberRechargeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 个人中心 - 魔力收银台 -->
        <activity
            android:name="com.imooly.android.ui.PaymentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 个人中心 - 支付成功 -->
        <activity
            android:name="com.imooly.android.ui.PaymentSuccess"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- 个人中心 - 支付失败-->
        <activity
            android:name="com.imooly.android.ui.PaymentFailed"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        

        <!-- 个人中心 - 会员特权 -->
        <activity
            android:name="com.imooly.android.ui.MemberRightActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 个人中心 - 领取代金券 -->
        <activity
            android:name="com.imooly.android.ui.VoucherHadGotActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 个人中心 - 领取使用明细 -->
        <activity
            android:name="com.imooly.android.ui.VoucherDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 个人中心 - 电子会员卡 -->
        <activity
            android:name="com.imooly.android.ui.MemberCardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 个人中心 - 设置交易密码 -->
        <activity
            android:name="com.imooly.android.ui.TradePwdSettingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" >
        </activity>

        <!-- 个人中心 - 交易密码 -->
        <activity
            android:name="com.imooly.android.ui.TradePwdActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 个人中心 - 修改交易密码 -->
        <activity
            android:name="com.imooly.android.ui.TradePwdModifyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 个人中心 - 找回交易密码 -->
        <activity
            android:name="com.imooly.android.ui.TradePwdFindActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 个人中心 - 修改昵称 -->
        <activity
            android:name="com.imooly.android.ui.NicknameEditActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" >
        </activity>

        <!-- 个人中心 - 修改密码 -->
        <activity
            android:name="com.imooly.android.ui.PasswordModifyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" >
        </activity>

        <!-- 初始化密码修改界面 -->
        <activity
            android:name="com.imooly.android.ui.PasswordInitActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" >
        </activity>

        <!-- 找回交易密码修改界面 -->
        <activity
            android:name="com.imooly.android.ui.TradePwdFind2Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" >
        </activity>

        <!-- 百度API -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="is7KNmoo314YQWSlaKjo1HQ6" />

        <activity
            android:name="com.imooly.android.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent你的QQ互联APPID" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <!-- 更新service -->
        <service android:name="com.imooly.android.service.UpdateService" >
        </service>

        <!-- 注册service -->
        <service android:name="com.imooly.android.service.MoLiService" >
        </service>
        <!-- 广播监听 -->
        <receiver android:name="com.imooly.android.receiver.MoLiBroadcastReceiver" >
            <intent-filter>
                <action android:name="com.imooly.android.heartbeat" />
            </intent-filter>
        </receiver>

        <!-- 友盟相关 -->
        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false" >
        </receiver>
        <receiver android:name="com.umeng.message.RegistrationReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>

            <!-- 【可选】根据需要添加 -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.UmengBroadcastReceiver" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.imooly.android.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RE_ELECTION_V2" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.umeng.message.UmengService"
            android:exported="true"
            android:process=":umengService_v1" >
            <intent-filter>
                <action android:name="com.imooly.android.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.imooly.android.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING" />
            </intent-filter>
        </service>
        <service
            android:name="org.android.agoo.service.ElectionService"
            android:exported="true"
            android:process=":umengService_v1" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_V2" />
            </intent-filter>
        </service>
        <service android:name="com.umeng.message.UmengIntentService" />
        <service android:name="com.imooly.android.service.MoliPushIntentService" />
        <service android:name="com.umeng.message.UmengDownloadResourceService" >
        </service>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5486733ffd98c578dd0005fb" >
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="edaa828d075f54c67fc7f4d3508df383" >
        </meta-data>
    </application>

</manifest>